.DS_Store/
lambada/
wikitext-103/
*.pt
*.log
*.pyc
__pycache__/
*.py~
*.un~
*checkpoint.ipynb
*.swp
*ubyte
*.gz
TCN/mnist_pixel/UNSW_NB15_testing-set.csv
TCN/mnist_pixel/UNSW_NB15_training-set.csv
TCN/mnist_pixel/UNSW_NB15_training-set.csv
TCN/mnist_pixel/UNSW_NB15_training-set.csv
TCN/mnist_pixel/UNSW-NB15_1.csv
UNSW_NB15/UNSW-NB15_1.csv
